.div-table
{
  display:table;
  margin-top:10px;
  margin-left:5px;
}
.div-table-caption{
  display:table-caption;
  background:#43AD2F;
  color:white;
  font-weight:bold;
}
.div-table-row{
/*  display:table-row;*/
  border-bottom: 1px solid #F89400;
  /*line-height: 20px;*/

}
.div-table-col{
  display:table-cell;
  padding-left: 5px;
  width:180px;
  /*border: 1px solid #43AD2F;*/
}

