div.leftside{
  float: left;
}

div.rightside{
  float: right;
  /*border: 1px solid black; */
}


#boundary{
  margin-right:auto;
  margin-left:auto;
}

div.leftContent{ float: left;height:500px;width:520px;padding:2px;}
div.rightContent{ float: right; height:500px;width:520px;padding:2px;}
div.centerContent{ float: left; height:500px;width:900px;padding:5px;}


div.legend{
  width:100px;
}

div.centerLegend{
  width:200px;
}



div.midcontent{
  float: left;
  width: 1100px;
  text-align: center;
}


.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
 
.white_content {
	display: none;
	position: absolute;
	top: 5%;
	left: 10%;
	padding: 5px;
	border: 5px solid green;
	background-color: white;
	z-index:1002;
	overflow: auto;
}


.link{
  float:right;
  color:blue;
  font-weight:bold;
}

