body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

#map {
    width: 100%;
    height: 100%;
}

a.toggles {
    position:fixed;
    left:326px;
    bottom:31px;
    display:block;
    padding:10px 20px;
}

.no-sidebar {
    margin-left:0 !important;
}

.leaflet-control-geosearch, .leaflet-control-geosearch ul {
    width: 200px !important;
    border-radius: 4px;
    padding: 2px !important;
}

input[type="text"] {
    margin-bottom: 0;
}