#school_name {
  font-family: Arial,Helvetica,sans-serif;
  /*color:#43AD2F;*/
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 10px;
}

.srcinfo4 {
  margin-left:10px;
  margin-top:20px;
  font-size: 10pt;
}
.srcinfo5 {
  margin-left:10px;
  margin-top:20px;
  font-size: 10pt;
}

#hrmod{
  border-color: #F89400;
}

#school_info {
    /*margin-left: 200px;*/
}

#school_info_heading {
    /*margin-left: 200px;*/
}
#school_hier {
    /*margin-top: 50px;*/
}

#school_hier_heading {
    margin-top: 50px;
}

#student_gend {
  margin-left:5px;
  margin-top:10px;
}

#finances_info {
  margin-left:5px;
  margin-top:10px;
}

#reportlinks {
    margin-left: 10px;
}

.sub_header {
  font-family: "Helvetica", Sans-serif;
  font-size: 15px;
  color:#E35804;
  font-weight:bold;
  display:block;
  margin-left:5px;
  margin-top:10px;
}

#sys_comments
{
  height:300px;
  overflow:auto;
  margin-left:10px;
}

#sys_images
{
  height:50px;
  width:50px;
  padding-left:5px;
  padding-right:5px;
}


#sys_comments ol, ul, li
{
  list-style:disc;
}

#sys_comments ol, ul
{
  list_style:disc;
}

#name
{
 float:left;
 width:50%;
 font-weight:bold;
 font-size:14px;
}

#timestamp
{
 float:right;
 width:50%;
 font-style:italic;
 color:darkslategray;
}

img{
  border: 0px;
  vertical-align: top;
}

img.album{
  border: 2px solid #43AD2F;
  width:100%;
  margin-left:16px;
}

#map {
  width:100%;
  height:150px;
	border:2px solid #43AD2F;
  margin-left:15px;
  margin-top:10px;
  z-index:15;
}

#sharing {
  float:right;
}

#printing {
  float:left;
  margin-left:10px;
}

.clearfooter {
   height: 10px;
   clear: both;
}

.div-table {
    display: table;
    margin-left: 5px;
    margin-top: 10px;
}
.div-table-caption {
    /*background: none repeat scroll 0 0 #43AD2F;
    color: white;*/
    display: table-caption;
    font-weight: bold;
    text-align:justify;
    margin-bottom:5px;
}
.div-table-row {
    /*border-bottom: 1px solid #F89400;*/
}
.div-table-col {
    display: table-cell;
    padding-left: 5px;
}

#div-col-90width {
  width:90px;
}

#div-col-125width {
  width:125px;
}
#div-col-350width {
  width:300px;
}
#div-row-border{
  border-bottom: 1px solid #F89400;
}

dl {
/*border: 3px double #ccc;*/
/*padding: 0.5em; */
}

dt {
float: left;
clear: left;
width: 290px;
text-align: left;
color:  black;
font-size: 8pt;
font-weight: bold;
}

dd:before {
content: ":";
}

dd {
margin: 0 0 0 300px;
padding: 0 0 0.5em 0;
font-size: 8pt;
}
