#filetype {
  margin-top:10px;
  margin-left:5px;
}

.div-table
{
  display:table; 
  margin-top:10px;
  margin-left:5px;
}
.div-table-caption{
  display:table-caption; 
  background:#25b3b6;
  color:white;
  font-weight:bold;
}
.div-table-row{display:table-row;}
.div-table-col{
  display:table-cell; 
  padding-left: 5px; 
  padding-right: 5px; 
  border-right: 1px solid #25b3b6;
}
#disclaimer {
  font-size:8pt;
  padding-left:10px;
  padding-top:5px;
  color:#666;
  width:55%;
  text-align:justify;
}
#license {
  font-size:8pt;
  padding-left:10px;
  padding-top:5px;
  color:#666;
  width:55%;
  text-align:justify;
}
body
    {
      font-size: 13px;
      line-height: 1.231;
      margin: 0;
      min-width: 960px;
    }

#filter { margin-left:10px;margin-top:10px; }
table { border: solid 1px #25b3b6; margin-left:10px; }
table tr { margin: 2px; padding: 2px; border-bottom: solid 1px #25b3b6; }
table th { margin: 2px; padding: 2px; /*border: solid 1px #25b3b6;*/ text-transform:uppercase; color:#25b3b6 }
table td { margin: 2px; padding: 2px; /*border: solid 1px #25b3b6*/ }
