$def with (data)
<html> 
 <head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
    <title>Assessments</title> 
    <link type="text/css" rel="stylesheet" href="/css/main.css"/>
    <link type="text/css" rel="stylesheet" href="/css/tabview.css"/>
    <link type="text/css" rel="stylesheet" href="/css/charts.css"/>
    <script type="text/javascript" charset="utf-8"
        src="http://yui.yahooapis.com/3.1.1/build/yui/yui-min.js">
    </script>
    <script type="text/javascript" src="/yui/build/tabview/tabview-min.js"></script>
    <!--[if IE]><script language="javascript" type="text/javascript" src="/flot/excanvas.js"></script><![endif]-->
    <script type="text/javascript" src="/flot/jquery.js"></script> 
    <script type="text/javascript" src="/flot/jquery.flot.js"></script> 
    <script type="text/javascript" src="/flot/jquery.flot.pie.js"></script> 
    <script type="text/javascript" src="/flot/jquery.flot.orderBars.js"></script> 
    <script type="text/javascript" src="/js/charts.js"></script> 
<script type="text/javascript">

 var _gaq = _gaq || [];
 _gaq.push(['_setAccount', 'UA-3982320-11']);
 _gaq.push(['_trackPageview']);

 (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();

</script>
 </head> 
 <body class="yui3-skin-sam" onload="initialise($data)" id="top"> 
    <h1 id="tabview-heading">Assessments</h1>
    <div style="width:1100px">
    <div id="school" style="display:none">
     <ul>
        <li><a href="#school-enrollment">Enrollment</a></li>
        <li><a href="#school-baselinedata">BaseLine Data</a></li>
        <li><a href="#school-progress" id="school-progress-tab" style="display:none">Progress Data</a></li>
        <li><a href="#school-analytics">Analytics</a></li>
    </ul>
    <div>
      <div id="school-enrollment" style="height:500px">
      </div>
      <div id="school-baselinedata" style="height:1200px">
        <ul>
          <li><a href="#school-baseline-general">General</a></li>
          <br>
          <li><a href="#school-baseline-gender">By Gender</a></li>
          <br>
          <li><a href="#school-baseline-mt">By Mother Tongue</a></li>
          <br>
          <li><a href="#school-baseline-class">By Class Performance</a></li>
        </ul>
        <br>
        <div id="school-baseline-general" class="leftContent">
          <p align="left"><b>General</b></p>
          <div id="school-general-content" style="height:300px; width:300px"></div>
        </div> 
        <div id="school-baseline-gender" class="rightContent">
          <p align="left"><b>Gender</b></p>
          <div id="school-gender-legend" class="rightside">Legend<div id="school-gender-legend-content"></div></div>
          <div id="school-gender-content" class="leftside" style="height:300px; width:400px"></div>
        </div> 
        <div class="midcontent"><p align="center"><a href="#top">Back to Top</a></p></div>
        <div id="school-baseline-mt" class="leftContent">
          <p align="left"><b>Mother Tongue</b></p>
          <div id="school-mt-legend" class="rightside">Legend<div id="school-mt-legend-content"></div></div>
          <div id="school-mt-content"  class="leftside" style="height:300px; width:400px"></div>
        </div> 
        <div id="school-baseline-class" class="rightContent">
          <p align="left"><b>Class Performance</b></p>
          <div id="school-class-legend" class="rightside">Legend<div id="school-class-legend-content"></div></div>
          <div id="school-class-content" class="leftside" style="height:300px; width:400px"></div>
        </div> 
        <br>
        <br>
      </div>
      <div id="school-progress" style="height:500px;width:900px">
      </div>
      <div id="school-analytics" style="height:1200px">
      </div>
    </div>
    </div>
    </div>
    <div style="width:1100px">
    <div id="preschool" style="display:none">
     <ul>
        <li><a href="#preschool-enrollment">Enrollment</a></li>
        <li><a href="#preschool-baselinedata">BaseLine Data</a></li>
        <li><a href="#preschool-progress">Progress Data</a></li>
    </ul>
    <div>
      <div id="preschool-enrollment" style="height:500px; width:500px">
      </div>
      <div id="preschool-baselinedata" style="height:1200px">
        <ul>
          <li><a href="#preschool-baseline-gender">Average Score By Gender</a></li>
          <br>
          <li><a href="#preschool-baseline-mt">Average Score By Mother Tongue</a></li>
          <br>
        </ul>
      <br>
      <div id="preschool-baseline-gender" class="leftContent">
        <p align="left"><b>Average Score by Gender</b></p>
        <div id="preschool-gender-legend" class="rightside"><div id="preschool-gender-legend-content"></div></div>
        <div id="preschool-gender-content" class="leftside" style="height:300px; width:400px"></div>
      </div> 
      <div id="preschool-baseline-mt" class="rightContent">
        <p align="left"><b>Average Score by Mother Tongue</b></p>
        <div id="preschool-mt-legend" class="rightside">Legend<div id="preschool-mt-legend-content"></div></div>
        <div id="preschool-mt-content"  class="leftside" style="height:300px; width:400px"></div>
      </div> 
      <br>
      <br>
      </div>
      <div id="preschool-progress"  style="height:500px;widht:900px">
      </div>
    </div>
    </div>
    </div>
    <div style="width:1100px">
    <div id="boundary" style="display:none" class="tab">
     <ul>
        <li><a href="#boundary-enrollment">Enrollment</a></li>
        <li><a href="#boundary-baselinedata">BaseLine Data</a></li>
        <li><a href="#boundary-progress">Progress Data</a></li>
    </ul>
    <div>
      <div id="boundary-enrollment" style="height:500px; width:500px">
      </div>
      <div id="boundary-baselinedata" style="height:1200px">
        <ul>
          <li><a href="#boundary-baseline-general">General</a></li>
          <br>
          <li><a href="#boundary-baseline-gender">By Gender</a></li>
          <br>
          <li><a href="#boundary-baseline-mt">By Mother Tongue</a></li>
          <br>
          <li><a href="#boundary-baseline-class">By Class</a></li>
          <br>
        </ul>
      <br>
      <div id="boundary-baseline-general" class="leftContent">
        <p align="left"><b>General</b></p>
        <div id="boundary-general-content" style="height:300px; width:400px"></div>
      </div> 
      <div id="boundary-baseline-gender" class="rightContent">
        <p align="left"><b>Gender</b></p>
        <div id="boundary-gender-legend" class="rightside">Legend<div id="boundary-gender-legend-content"></div></div>
        <div id="boundary-gender-content" class="leftside" style="height:300px; width:400px"></div>
      </div> 
      <div class="midcontent"><p align="center"><a href="#top">Back to Top</a></p></div>
      <div id="boundary-baseline-mt" class="leftContent">
        <p align="left"><b>Mother Tongue</b></p>
        <div id="boundary-mt-legend" class="rightside">Legend<div id="boundary-mt-legend-content"></div></div>
        <div id="boundary-mt-content"  class="leftside" style="height:300px; width:400px"></div>
      </div> 
      <div id="boundary-baseline-class" class="rightContent">
        <p align="left"><b>Class</b></p>
        <div id="boundary-class-legend" class="rightside">Legend<div id="boundary-class-legend-content"></div></div>
        <div id="boundary-class-content"  class="leftside" style="height:300px; width:400px"></div>
      </div> 
      <br>
      <br>
      </div>
      <div id="boundary-progress" style="height:500px;width:900px">
      </div>
    </div>
    <div>
    </div>
 </body> 
</html> 
