$var title: KLP: Credits
$var cssfiles: /yui/build/cssfonts/fonts-min.css /css/base.css /css/text.css
$var jsfiles:
$var btags:
<div class="textpage">
<h1>Credits</h1><br>
We would like to acknowledge and thank the following people for their contribution to the Karanataka Learning Partnership website:
<ul>
<li>Vipin Chandran Pathiyil, for the website design</li><br>
<li>Sudha Balachandran, for the pictures</li><br>
<li><a href="http://prathambooks.org/" target="_blank">Pratham Books</a> and <a href="http://www.theotherdesignstudio.in/" target="_blank">Angie and Upesh</a>, for the marker pictures</li><br>
<li>Rahul Gonsalves from <a href="http://pixelogue.in/" target="_blank">Pixelogue</a> , for the Institution Information page design</li><br>
</ul>
</div>
