$var title: Karnataka Learning Partnership
$var cssfiles: /yui/build/cssfonts/fonts-min.css /css/base.css /css/home.css
$var jsfiles: /yui/build/yui/yui-min.js js/klp.js /js/feedreader.js
$var btags:

<div id="sLeft">
  <div id="duk">
    <div id="col1">
      <ul>
	<li>Eight in ten children in <a href="visualization?type=school">school</a> cannot divide while seven in ten children cannot do simple subtraction.</li>
	<li>One out of two <a href="visualization?type=preschool">preschool</a> children cannot recognize numbers</li>
	<li>Six out of ten children in <a href="visualization?type=school">school</a> cannot read simple text in their medium of instruction.</li>
	<li>Nearly eight in ten <a href="visualization?type=school">schools</a> have a water provision that is usable</li>
      </ul>
    </div>
    
    <div id="col2">
      <ul>
	<li>One out of three <a href="visualization?type=preschool">preschool</a> children cannot recognize alphabets</li>
	<li>Eight in ten children in <a href="visualization?type=school">school</a> cannot read simple sentences in English</li>
	<li>Close to one in two <a href="visualization?type=school">schools</a> have a toilet provision but are not usable</li>
	<li>Every tenth <a href="visualization?type=school">school</a> does not serve mid-day meals</li>
      </ul>
    </div>
  </div>
  
  <div id="general">

  Karnataka Learning Partnership is a public space where all citizens can contribute to the cause of ensuring better schools and schooling for our children . Better education will ensure better human development and prosperity for our citizens.
  </div>
</div>


<div id="sRight">
  <div id="blog">
    <script>
      function processReq(root)
      {
      var feed= root.feed;
      processRequest(feed);
      }
    </script>
    <script src=http://blog.klp.org.in/feeds/posts/default?alt=json-in-script&callback=processReq></script>
    
  </div> 
  
  <div id="flickr">
    <iframe align="center" src="http://www.flickr.com/slideShow/index.gne?user_id=35026043@N03&tags=children" width="309" height="220" frameBorder="0" scrolling="no"></iframe>
  </div>
</div>
