$var title: KLP: Partners
$var cssfiles: /yui/build/cssfonts/fonts-min.css /css/base.css
$var jsfiles:
$var btags:

<h1>Partners</h1>

<h2> Bagalkot </h2>
<ul>
  <li> BLDE Association <emph>Email:</emph> <a href="mailto:enquiry@bldea.org">enquiry@bldea.org</a></li>
  <li> CIBIRD </li>
  <li> Godavari Sugars, Sameerwadi <emph>Email:</emph> <a href="mailto:kanavi@somaiya.com">kanavi@somaiya.com</a>, <a href="mailto:Vpk_2008@rediffmail.com">Vpk_2008@rediffmail.com</a></li>
  <li> RDF <emph>Email:</emph> <a href="mailto:panchamukhisv@gmail.com">panchamukhisv@gmail.com</a>, <a href="mailto:rdfbvvsb@gmail.com">rdfbvvsb@gmail.com</a></li>
  <li> Sharada Vidyalaya (SSV) <emph>Email:</emph> <a href="mailto:ssvgld@rediffmail.com">ssvgld@rediffmail.com</a>, <a href="mailto:Ssvgld@yahoo.com">Ssvgld@yahoo.com</a></li>
  <li> Shri. Gurusiddeshwar Brahan Mutt, Guledgudda</li>
  <li> Sri Prabulingeswar Sugars At: Siddapur Tq: Jamakhandi</li>
  <li> SWORD, Jamakandi <emph>Email:</emph> <a href="mailto:smgasjkd12@rediffmail.com">smgasjkd12@rediffmail.com</a></li>
  <li> VARCHHES, At: Mudhol</li>
</ul>
<h2> Bellary </h2>
<ul>
  <li> J S W Foundation
    <emph>Email:</emph> <a href="mailto:raviprakshprksh.madhudi@jsw.in">raviprakshprksh.madhudi@jsw.in</a>, <a href="mailto:sudhama.rao@jsw.in">sudhama.rao@jsw.in</a></li>
  <li> Navya Disha <emph>Email:</emph> <a href="mailto:navyadisha@gmail.com">navyadisha@gmail.com</a></li>
  <li> Vikas Cooperative Hospative Society's Vikas Foundation <emph>Email:</emph> <a href="mailto:vchmath@yahoo.com">vchmath@yahoo.com</a></li>
</ul>
<h2> Bidar </h2>
<ul>
  <li> Jnyana Karanji Charitable Trust <emph>Email:</emph> <a href="mailto:jkct.bidar@gmail.com">jkct.bidar@gmail.com</a></li>
  <li> Manava Vikas Kendra (MAVIK)</li>
  <li> NKRDS <emph>Email:</emph> <a href="mailto:nkrdsdrkn@yahoo.co.in">nkrdsdrkn@yahoo.co.in</a>, <a href="mailto:nkrdshbd@sancharnet.in">nkrdshbd@sancharnet.in</a></li>
  <li> PRAWARDA <emph>Email:</emph> <a href="mailto:prawarda@rediffmail.com">prawarda@rediffmail.com</a></li>
  <li> SAHARDA (DCC-Bidar) <emph>Email:</emph> <a href="mailto:dccbank_bidar@yahoo.com">dccbank_bidar@yahoo.com</a>, <a href="mailto:dccbsaharda@yahoo.com">dccbsaharda@yahoo.com</a>, <a href="mailto:sahardabdr@sancharnet.in">sahardabdr@sancharnet.in</a>, <a href="mailto:saharda@sancharnet.in">saharda@sancharnet.in</a></li>
  <li> Sevalal Rural Development Society</li>
  <li> Shri. Rajeshwar Mutt Todola</li>
  <li> Shri. Virupaksheshwar Mutt Mehakar</li>
</ul>
<h2> Bijapur </h2>
<ul>
  <li> HANDS, Bijapur <emph>Email:</emph> <a href="mailto:sanjay_biradarcraft@hotmail.com">sanjay_biradarcraft@hotmail.com</a></li>
  <li> POWER <emph>Email:</emph> <a href="mailto:siddu_pujari@yahoo.com">siddu_pujari@yahoo.com</a></li>
  <li> REACHS</li>
  <li> SPURTHI, Bijapur <emph>Email:</emph> <a href="mailto:spurthimm@yahoo.com">spurthimm@yahoo.com</a></li>
  <li> Sri. Rudramunishwar Mutt, Yankanchi</li>
</ul>
<h2> Dharwad </h2>
<ul>
  <li> Kalpavruksha Grameena Abivruddi Samsthe</li>
</ul>
<h2> Gadag </h2>
<ul>
  <li> IDF</li>
  <li> Sarvodaya ( IRDTES)</li>
</ul>
<h2> Gulbarga </h2>
<ul>
  <li> Arunnodaya resource Center (Myrada), Nagaidalai</li>
  <li> Bhoruka Charities</li>
  <li> Development Resource Center (Myrada), Mudhol <emph>Email:</emph> <a href="mailto:hkd@rediffmail.com">hkd@rediffmail.com</a></li>
  <li> FWA <emph>Email:</emph> <a href="mailto:fwashahapur@gmail.com">fwashahapur@gmail.com</a></li>
  <li> Grameen Abhiruddi Kendra Vasavadatta Cement, Sedam</li>
  <li> Janani Resource Center (Myrada), Kamlapur</li>
  <li> Janani Resource Center (Myrada), Sulepet</li>
  <li> Jyoti Resource Center (Myrada), Kodli <emph>Email:</emph> <a href="mailto:myrada_ispwdk@rediffmail.com">myrada_ispwdk@rediffmail.com</a></li>
  <li> K G B/Pariwartana <emph>Email:</emph> <a href="mailto:Parivarthan07@gmail.com">Parivarthan07@gmail.com</a></li>
  <li> KBBS <emph>Email:</emph> <a href="mailto:hkd@rediffmail.com">hkd@rediffmail.com</a>, <a href="mailto:admin@kbbs.sedam.org">admin@kbbs.sedam.org</a></li>
  <li> Local Resource Center (Myrada), Ratakal <emph>Email:</emph> <a href="mailto:cmrcratkal@rediffmail.com">cmrcratkal@rediffmail.com</a></li>
  <li> Marg <emph>Email:</emph> <a href="mailto:margforwomen@yahoo.com">margforwomen@yahoo.com</a></li>
  <li> NCUI <emph>Email:</emph> <a href="mailto:ncuiglb2@sancharnet.in">ncuiglb2@sancharnet.in</a></li>
  <li> S.B.E.S.</li>
  <li> SAHARA <emph>Email:</emph> <a href="mailto:saharango_2004@rediffmail.com">saharango_2004@rediffmail.com</a>, <a href="mailto:mastan_b2007@rediffmail.com">mastan_b2007@rediffmail.com</a></li>
  <li> Sarvodaya Resource Center (Myrada), Kalagi</li>
  <li> Shri Madivalshewar Mutt, Kadkol</li>
  <li> Shri. Charbasaveshwar Mutt, Shapur</li>
  <li> Shri. Koraneshwar Mutt, Kajuri</li>
  <li> Shri.Mahanteshwar Mutt, Chinmayagiri</li>
  <li> Shri. Mahanteshwar Mutt, Doranhalli</li>
  <li> Shri. Pakireshwar Mutt, Shapur</li>
  <li> SIRE <emph>Email:</emph> <a href="mailto:shankarsire@yahoo.co.in">shankarsire@yahoo.co.in</a>, <a href="mailto:sire_1999@rediffmail.com">sire_1999@rediffmail.com</a></li>
  <li> Sri. Kasa Mutt Gurmitakal</li>
  <li> Sri. Shivanada Shivayogi Virakta Mutt, Nelogi</li>
  <li> Sri. Virakta Mutt, Jeratagi</li>
  <li> Vishva Jyoti Mahila Kalanjiamokkut (Dhan) <emph>Email:</emph> <a href="mailto:kalanjiamfoundation@gmail.com">kalanjiamfoundation@gmail.com</a></li>
  <li> World Vision India <emph>Email:</emph> <a href="mailto:Gulburga_India_ADP@wvi.org">Gulburga_India_ADP@wvi.org</a></li>
</ul>
<h2> Koppal </h2>
<ul>
  <li> Kishikinda Trust <emph>Email:</emph> <a href="mailto:anegundi@thekishkindatrust.org">anegundi@thekishkindatrust.org</a>, <a href="mailto:tkt_ag@yahoo.com">tkt_ag@yahoo.com</a></li>
  <li> Sarvodaya <emph>Email:</emph> <a href="mailto:sarvodaya_koppal@rediffmail.com">sarvodaya_koppal@rediffmail.com</a></li>
</ul>
<h2> Raichur </h2>
<ul>
  <li> Aksharum</li>
  <li> AWARD <emph>Email:</emph> <a href="mailto:Award_Raichur@Indiatimes.com">Award_Raichur@Indiatimes.com</a></li>
  <li> GRAMS <emph>Email:</emph> <a href="mailto:gramsociety@yahoo.co.in">gramsociety@yahoo.co.in</a></li>
  <li> Janahita <emph>Email:</emph> <a href="mailto:janahitha_1999@yahoo.com">janahitha_1999@yahoo.com</a></li>
  <li> Janakalyan <emph>Email:</emph> <a href="mailto:janakalyana@sancharnet.in">janakalyana@sancharnet.in</a>, <a href="mailto:janakalyana@yahoo.co.in">janakalyana@yahoo.co.in</a></li>
  <li> Khalandriya Education Society <emph>Email:</emph> <a href="mailto:khalandariyaednsoc@yahoo.co.in">khalandariyaednsoc@yahoo.co.in</a>, <a href="mailto:Sayedgiyasuddeen@yahoo.co.in">Sayedgiyasuddeen@yahoo.co.in</a></li>
  <li> Pragati Education society</li>
  <li> Prerana <emph>Email:</emph> <a href="mailto:prerana.raichur@gmail.com">prerana.raichur@gmail.com</a></li>
  <li> SEVA <emph>Email:</emph> <a href="mailto:sevajss.rcr@yahoo.com">sevajss.rcr@yahoo.com</a></li>
  <li> Shri Amateshwar Mutt, Devargudda</li>
  <li> Shri Boodi Basaveshwar Mutt, Gobbur</li>
  <li> Shri. Charanti Mutt</li>
  <li> Sri. Kotturu Basaveshwara Yuvaka Mandali</li> <emph>Email:</emph> <a href="mailto:skbym_kudloor@yahoo.com">skbym_kudloor@yahoo.com</a></li>
<li> The Hatti Gold Mines Co. Ltd.</li>
</ul>
<h2> Uttar Kannada </h2>
<ul>
  <li> MERDS <emph>Email:</emph> <a href="mailto:malasirsi@gmail.com">malasirsi@gmail.com</a></li>
</ul>
