$var title: KLP: Anganwadis
$var cssfiles: /yui/build/cssfonts/fonts-min.css /css/base.css /css/text.css
$var jsfiles:
$var btags:

<h1 class="title">Pre-school programme</h1>


<p>
In early 2000, Akshara set up its pre-school (Balwadi) programme in
Bangalore. The focus was on children from underprivileged,
under-served communities, with the goal of universal enrollment to
primary schools. We believed that to achieve this, we needed to start
with children who were not yet of formal school age. Balwadis are
especially important for slum children as a preschool atmosphere of
joyful learning enables the imparting of early learning and social
skills which results in better school readiness.
</p>
<p>
<img src="/images/ps-1.jpg" class="align-right frame" alt="/images/ps-1.jpg" />
</p>
<p>
To clearly understand the impact of this initiative, we need to have a
good set of metrics that broadly covers the following:
</p>

<div id="table-of-contents">
<h2>Table of Contents</h2>
<div id="text-table-of-contents">
<ul>
<li><a href="#sec-1">1 Coverage </a></li>
<li><a href="#sec-2">2 Teaching Learning Material </a>
<ul>
<li><a href="#sec-2.1">2.1 Play material </a></li>
<li><a href="#sec-2.2">2.2 Charts </a></li>
<li><a href="#sec-2.3">2.3 Language/Numerical skills </a></li>
<li><a href="#sec-2.4">2.4 Creative work </a></li>
</ul>
</li>
<li><a href="#sec-3">3 Capacity building </a></li>
<li><a href="#sec-4">4 Assessments </a></li>
</ul>
</div>
</div>

<div id="outline-container-1" class="outline-2">
<h2 id="sec-1"><span class="section-number-2">1</span> Coverage </h2>
<div class="outline-text-2" id="text-1">


<p>
This refers to:
</p>
<ul>
<li>
Number of centres across the geography
</li>
<li>
Number of children across the geography

</li>
</ul>

<p><img src="/images/ps-2.jpg" class="align-right frame" alt="/images/ps-2.jpg" />
</p>
<p>
For example, in Bangalore, pre-school centres are being run by:
</p>
<ul>
<li>
The state-run ICDS which runs centres called anganwadis. There are
1552 anganwadis. Anganwadis are also responsible for health and
nutrition but our initiative is limited to education.
</li>
<li>
Independent balwadis initiated by Akshara Foundation. In
December 2009. there were about 110 centres. This is a self-
sustaining model and is provided with training, TLM and financial
assistance for the first six months; beyond that period, assistance
in the form of follow up training is provided.

</li>
</ul>
</div>

</div>

<div id="outline-container-2" class="outline-2">
<h2 id="sec-2"><span class="section-number-2">2</span> Teaching Learning Material </h2>
<div class="outline-text-2" id="text-2">


<p>
To develop high quality content and curriculum and prepare best in
class Teaching Learning Material (TLM). The content, curriculum and
TLM will be peer reviewed to ensure that this is of the highest
quality. Metrics are mainly qualitative and based on :
</p>
<ol>
<li>
Documented feedback from peers and subject matter experts (SMEs)
</li>
<li>
Feedback from teachers who manage anganwadis and independent balwadis
</li>
<li>
Reactions from children

</li>
</ol>

<p>The TLM for the programme was developed using the help of preschool
Subject Matter Experts (SME’s). The TLM was finalized in consultation
with the Government. The kits include the following material:
</p>

</div>

<div id="outline-container-2.1" class="outline-3">
<h3 id="sec-2.1"><span class="section-number-3">2.1</span> Play material </h3>
<div class="outline-text-3" id="text-2.1">

<ol>
<li>
Rope
</li>
<li>
Big ball
</li>
<li>
Peg Board
</li>
<li>
Seriation rings
</li>
<li>
Construction squares
</li>
<li>
Lacing Board
</li>
<li>
Number Blocks
</li>
<li>
Vegetable/Fruit basket
</li>
<li>
Colours and Shapes Kit

</li>
</ol>

<p><img src="/images/ps-3.jpg" class="align-right frame" alt="/images/ps-3.jpg" />
</p>
</div>

</div>

<div id="outline-container-2.2" class="outline-3">
<h3 id="sec-2.2"><span class="section-number-3">2.2</span> Charts </h3>
<div class="outline-text-3" id="text-2.2">


<ol>
<li>
Alphabet Charts (Kannada and English)
</li>
<li>
Number Charts

</li>
</ol>
</div>

</div>

<div id="outline-container-2.3" class="outline-3">
<h3 id="sec-2.3"><span class="section-number-3">2.3</span> Language/Numerical skills </h3>
<div class="outline-text-3" id="text-2.3">


<ol>
<li>
A set of readers
</li>
<li>
Conversation cards
</li>
<li>
Workbook
</li>
<li>
Flash cards – Kannada and English alphabet, numbers
</li>
<li>
Alphabet strips, Number strips
</li>
<li>
Counting Board
</li>
<li>
Slates/Chalk
</li>
<li>
Book of rhymes (for teacher)

</li>
</ol>
</div>

</div>

<div id="outline-container-2.4" class="outline-3">
<h3 id="sec-2.4"><span class="section-number-3">2.4</span> Creative work </h3>
<div class="outline-text-3" id="text-2.4">


<ol>
<li>
Drawing Book
</li>
<li>
Paint Box
</li>
<li>
Crayons
</li>
<li>
Pencils

</li>
</ol>
</div>
</div>

</div>

<div id="outline-container-3" class="outline-2">
<h2 id="sec-3"><span class="section-number-2">3</span> Capacity building </h2>
<div class="outline-text-2" id="text-3">


<p>
For pre-school teachers and monitoring of activities. 
</p>
</div>

</div>

<div id="outline-container-4" class="outline-2">
<h2 id="sec-4"><span class="section-number-2">4</span> Assessments </h2>
<div class="outline-text-2" id="text-4">


<p>
Assessments are an essential part of tracking the effectiveness of the
initiative and this has to be done in a non-intrusive manner. Each
assessment covers aspects of child development like motor skills;
cognitive skills; social and emotional skills; language
skills. Assessment formats have been designed. Progress of every child
will be measured - reports will however, be aggregated and
distributed. Performance benchmarks by centre; by area; by project and
each compared to district averages will be tracked and made
available. Children have been assessed on 7 sets of competencies using
56 indicators:
</p>
<ol>
<li>
General Awareness
</li>
<li>
Gross Motor Development
</li>
<li>
Fine Motor Development
</li>
<li>
Language Development
</li>
<li>
Intellectual Development
</li>
<li>
Social and  Emotional Development
</li>
<li>
Pre-academic Skills
</li>
</ol>
</div>
</div>
</div>
</body>
</html>
