$var title: KLP: Visualization
$var cssfiles: /yui/build/cssfonts/fonts-min.css /css/base.css /css/map.css
$var jsfiles: /yui/build/yui/yui-min.js http://maps.google.com/maps/api/js?sensor=false /js/klp.js
$var btags: class="yui-skin-sam" onload=initialiseSchool();

<style type="text/css">
</style>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false">
</script>
<script type="text/javascript">

function drawACircle(latin, lonin, radius) 
{ 
    var locs = new Array(); 
    var lat1 = latin * Math.PI/180.0; 
    var lon1 = lonin * Math.PI/180.0; 
    var d = radius/3956; 
    var x; 
    for (x = 0; x <= 360; x++) 
    { 
        var tc = (x / 90)* Math.PI / 2; 
        var lat = Math.asin(Math.sin(lat1)*Math.cos(d)+Math.cos(lat1)*Math.sin(d)*Math.cos(tc)); 
        lat = 180.0 * lat / Math.PI; 
        var lon; 
         if (Math.cos(lat1)==0) 
        { 
            lon=lonin; // endpoint a pole 
        } 
        else 
        { 
            lon = ((lon1 - Math.asin(Math.sin(tc) * Math.sin(d)/Math.cos(lat1)) + Math.PI) % (2 * Math.PI)) - Math.PI; 
        } 
        lon = 180.0 * lon / Math.PI; 
        var loc = new google.maps.LatLng(lat,lon); 
        locs.push(loc); 
    } 
        var circlePath = new google.maps.Polyline({
            path: locs,
            strokeColor: "#FF0000",
            strokeOpacity: 1.0,
            strokeWeight: 2
          });

          circlePath.setMap(map);   
          map.panTo(loc);
}

</script>

<div id="map">
    <div id="top_panel" style="height:100px">
    <div>
     <labe>Select Search Type</label>
     <select id="selection" onChange="changeSelection();">
       <option value="">Select</option>
       <option value="school">Primary School</option>
       <option value="preschool">Pre School</option>
     </select>
    </div>
    <div id="schooldiv" style="display:inline">
      <label>District</label>
      <select id="district" onChange="changeFocus('district','block');">
        <option value="">Select</option>
      </select>
      <label>Block</label>
      <select id="block" onChange="changeFocus('block','cluster');">
        <option value="">Select</option>
      </select>
      <label>Cluster</label>
      <select id="cluster" onChange="changeFocus('cluster','school');">
        <option value="">Select</option>
      </select>
      <label>School</label>
      <select id="school" onChange="changeFocus('school','');">
        <option value="">Select</option>
      </select>
    </div>
    <div id="preschooldiv" style="display:none">
      <label>District</label>
      <select id="preschooldistrict" onChange="changeFocus('preschooldistrict','project');">
        <option value="">Select</option>
      </select>
      <label>Project</label>
      <select id="project" onChange="changeFocus('project','circle');">
        <option value="">Select</option>
      </select>
      <label>Circle</label>
      <select id="circle" onChange="changeFocus('circle','preschool');">
        <option value="">Select</option>
      </select>
      <label>Pre School</label>
      <select id="preschool" onChange="changeFocus('preschool','');">
        <option value="">Select</option>
      </select>
    </div>
    <div align="right">
      <p style="float:left"><a href="visualization">Reset Map</a></p>
      <p style="float:right">Find Place: <input type="text" id="address"/><input type="button" value="Go" onclick="geocode()"/></p>
    </div>
      <br>
    </div>
    <div id="map_canvas" style="width:800px; height:500px;position:relative;float:left"></div>
    <div id="legend" style="width:120px; height:500px;position:relative;float:right" align="center">
     <br>
     <br>
     <p align="center"><b><i>Legend</b></i></p>
     <table>
      <tr><td><img src="/images/marker_orange.png" alt="District" /></td><td>District</td></tr>
      <tr><td><img src="/images/marker_yellow.png" alt="Block" /></td><td>Block</td></tr>
      <tr><td><img src="/images/marker_green.png" alt="Cluster" /></td><td>Cluster</td></tr>
      <tr><td><img src="/images/marker.png" alt="Project" /></td><td>Project</td></tr>
      <tr><td><img src="/images/marker_purple.png" alt="Circle" /></td><td>Circle</td></tr>
      <tr><td><img src="/images/school.png" alt="School" /></td><td>School</td></tr>
      <tr><td><img src="/images/preschool.png" alt="PreSchool" /></td><td>PreSchool</td></tr>
     </table>
    </div>
    <div id="top_panel" style="height:100px">
      <p style="float:left">
      <label>Choose a Centre (e.g: Manyata Tech Park @ (13.04583,77.62138)) and find schools within given radius (e.g: 2 km)</label><br/>
      <label> Lat: </label><input value='' type='text' id="lat" name='lat' style='width:90px'>
      <label> Lon: </label><input value='' type='text' id="lon" name='lon' style='width:90px'>
      <label>Choose Radius</label>
      <input value='2' type='text' id="radius" name='radius' style='width:50px'><label>km</label>
      <input value="Draw a Circle" type="button" onclick="drawACircle(document.getElementById('lat').value,document.getElementById('lon').value,document.getElementById('radius').value);" />
      </p>
    </div>
</div>
