body {
    padding-top: 40px;
}
#map {
    margin: 0;
    margin-top: 50px;
    padding: 0;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.leaflet-center{
    width: 350px;
}

.navbar {
    margin: 0;
}

.navbar-inner {
    border-radius: 0;
    padding-left: 10px !important;
}

input[type="text"] {
    margin-bottom: 0;
}

.schools li {
    font-size: 9px;
}

.schools li > a{
    line-height: 10px;
}

.dropdown-menu {
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
}

#credits {
    padding-top: 10px;
}

hr { display: block; height: 1px; border: 0; border-top: 1px solid #000; margin: 1em 0; padding: 0; }


#top_panel a:link{color: white;}
#top_panel a:visited{color: white;}
#top_panel a:hover {color: white;}

.modal-body{
    height: 150px;
    max-height: 300px;
}

.modal-body hr {
    display: block; 
    height: 1px; 
    border: 0; 
    border-top: 1px solid #ddd; 
    margin: 1em 0; 
    padding: 0;
}

.select2-container {
    width: 200px;
}
.stop-drawing {
    background-image: url("/images/icons/stop.png");
    cursor: pointer;
}	

.filter-control {
    background-image: url("/images/icons/filter.png");
    background-repeat: no-repeat;
    background-position: 46% 46%;
    border: 1px solid #888888;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    margin-right: 10px;
    /*margin-top: 375px;*/
    /*width: 105px;*/
    /*float: left !important;*/
}

.filter-control a {

    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    display: block;
    height: 39px;
    width: 47px;
}

.filter-control a:hover {
    background-color: rgba(255, 255, 255, 0);   
}

.leaflet-control-draw {

    background-repeat: no-repeat;
}

.leaflet-control-draw a {
    
    background-position: 20% 50% !important;
    border-radius: 4px !important;
    display: block;
    height: 39px !important;
    width: 47px !important;

}

.leaflet-control-draw a:hover {
    background-color: rgba(255, 255, 255, 0);
}

.leaflet-control-draw-circle {
    background-image: url("/images/icons/draw.png") !important;
    opacity: 0.5;
}

.leaflet-control-draw-circle:hover{
    opacity: 1;
}

.leaflet-control-geosearch, .leaflet-control-geosearch ul {
    width: 200px !important;
    border-radius: 4px;
    padding: 2px !important;
}

#map top_panel{
    color: white;
    font-family: "Arial", Sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size:  1em;
}

.marker-cluster-school  {
    background-color: rgba(31, 160, 156, 0.6);
}

.marker-cluster-school div {
    background-color: rgba(31, 160, 156, 0.6);
}

.marker-cluster-preschool {
    background-color: rgba(93, 83, 108, 0.6);
}
.marker-cluster-preschool div {
    background-color: rgba(93, 83, 108, 0.6);
}

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
    margin-left: -20px !important;
    margin-top: -20px !important; 
    width: 40px !important; 
    height: 40px !important;
}

.marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;

    text-align: center;
    border-radius: 15px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.marker-cluster span {
    line-height: 30px;
}

ol, ul {
    list-style: none outside none;
}

#circleinfo {
    background-image: url("/images/trans_green_tile.png");
    color: black;
    height: 20px;
    opacity: 1;
    padding-left: 19px;
    padding-right: 0px;
    padding-top: 5px;
    z-index: 99;
    background-repeat: repeat;
    border-top: 1px solid white;
    text-align: center;
    font-weight: bold;
}

#address {
    background-color: #FFFFFF;
    opacity: 1;
    padding-left: 5px;
    padding-right: 5px;
    height:26px;
    width: 54%;
    color:#333;
}

#search-button {
    background-image: url("/images/search.png");
    background-repeat: no-repeat;
    opacity: 1;
}

@media only screen and (max-device-width: 800px), only screen and (device-width: 800px), only screen and (max-width: 767px) {
.navbar{
    display: none;
}
body{
    padding-top: 0px;
}
}

.navbar-inverse .navbar-inner {
    background: #f89400;
    background-image: none;
}


.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    text-shadow: none;
    color: #000;
}

.navbar-inverse, .navbar-inverse .nav > li > a:hover{
    background-color: none;
    color: white;
}

.navbar-inverse .navbar-inner {
    border: none;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    background-color: transparent;
    color: #FFFFFF;
}


.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: transparent;
    color: #FFFFFF;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125) inset;
}

.dropdown-menu {
    background-color: #F89400;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-menu-submenu:hover > a {
    background-color: transparent;
    background-image: none;
}
