$def with (data)
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Assessment Info</title>
    <link rel="icon" href="/images/favicon.ico"/>
    <script type="text/javascript" src="/js/legacy/assessmenttable.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/legacy/grid.css"/>
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>
    <link type="text/css" rel="stylesheet" href="/css/legacy/list.css"/>
    <link type="text/css" rel="stylesheet" href="/css/legacy/assessmenttable.css"/>

</head>
<body onload="initialise($data)">
<div class="container container_12">
  <div id="assessment" class="grid_12">
    <h2 id="heading">Assessments</h2>
    <br>
    <br>
    <div id="assessment_info"> </div>
  </div> <!--grid 12-->
</div> <!-- container 12-->

</body>

</html>
