$def with (content)
<!doctype html>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3982320-11']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
  <header class="main-header">
    <div class="header-content">
      <a href="/" class="header_mobile_logo"></a>
      <a class="mobile_icon" onclick="toggle_mobile_nav();"></a>
      <nav class="top-nav" role="navigation">
        <ul id="navigation">
          <li class="home">
            <a href="/" title=""><h1>Karnataka Learning Partnership</h1></a>
          </li>
          <li class="school_map">
            <a href="/map" title="">School Map</a>
          </li>
          <li class="programmes">
            <a href="/text/reading" title="">Programmes</a>
            <ul>
              <li><a href="/text/reading" title=""><span></span>Reading</a></li>
              <li><a href="/text/maths" title=""><span></span>Math</a></li>
              <li><a href="/text/library" title=""><span></span>Library</a></li>
              <li><a href="/text/preschool" title=""><span></span>Pre-School</a></li>
            </ul>
          </li>
          <li class="volunteer"><a href="/text/volunteer" title="">Volunteer</a></li>
          <li class="database">
            <a href="#" title="">Database</a>
            <ul>
              <li><a href="http://status.klp.org.in" target="_blank" title=""><span></span>Status</a></li>
              <li><a href="/listFiles/2" target="_blank" title=""><span></span>Raw Data</a></li>
              <li><a href="http://github.com/klpdotorg" target="_blank" title=""><span></span>Github</a></li>
            </ul>
          </li>
          <li class="reports">
            <a href="#" title="">Reports</a>
            <ul>
              <li><a href="http://reports.klp.org.in" target="_blank" title=""><span></span>KLP Reports</a></li>
              <li><a href="http://sslc.klp.org.in" target="_blank" title=""><span></span>SSLC</a></li>
              <li><a href="/text/reports" title=""><span></span>Other Reports</a></li>
            </ul>
          </li>
          <li class="about">
            <a href="/text/aboutus" title="">About</a>
            <ul>
              <li><a href="/text/aboutus" title=""><span></span>About</a></li>
              <li><a href="/text/partners" title=""><span></span>Partners</a></li>
              <li><a href="/text/disclaimer" title=""><span></span>Disclaimer</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <div class="clr"></div>
    </div>
  </header>


  $if content.cssfiles:
    $for f in content.cssfiles.split():
      <link rel="stylesheet" href="$f" type="text/css" media="screen" charset="utf-8"/>

  $if content.jsfiles:
    $for f in content.jsfiles.split():
      <script type="text/javascript" src="$f"></script>

  $if content.title:
    <title>$content.title</title>

  <body $content.btags>
    $:content
  </body>
  <footer class="main-footer">
    <div class="footer-wrapper">
      <nav class="nav">
        <ul>
          <li><a href="/text/aboutus" title="">About</a></li>
          <li><a href="mailto:team@klp.org.in" title="">Contact</a></li>
          <li class="hidden-phone hidden-tablet"><a href="http://www.facebook.com/klpdotorg" target="_blank">Facebook</a></li>
          <li class="hidden-phone hidden-tablet"><a href="https://twitter.com/klpdotorg" target="_blank">Twitter</a></li>  
          <li class="hidden-phone hidden-tablet"><a href="http://blog.klp.org.in/feeds/posts/default" target="_blank">RSS Feed</a></li>
          <li class="hidden-phone hidden-tablet"><a href="http://www.youtube.com/user/klpdotorg" target="_blank">You Tube</a></li>
          <li class="hidden-phone hidden-tablet"><a href="/map" title="">School Map</a></li>
          <!--li class="hidden-phone hidden-tablet"><a href="" title="">Programmes</a></li>
          <li class="hidden-phone hidden-tablet"><a href="" title="">Databases</a></li>
          <li class="hidden-phone hidden-tablet"><a href="" title="">Reports</a></li-->
          <div class="clr"></div>
        </ul>
      </nav>
      <div class="copyright">Copyright 2013. All Rights Reserved.</div>
    </div>
  </footer>

</html> 
