$var title: Karnataka Learning Partnership
$var cssfiles: /css/style.css
$var jsfiles: js/jquery-1.9.1.min.js js/main.js
$var btags:onLoad=getSysInfo();
<head>
	<!-- META -->
	<title>KLP</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0,target-densitydpi=device-dpi,maximum-scale=1.0; user-scalable=0;"/>
	<meta name="description" content="" />

</head>

	<header class="home-header" role="banner">
		<div class="mobile_header">
			<a href="index.html" class="header_mobile_logo"></a>
			<a class="mobile_icon" onclick="toggle_mobile_nav();"></a>
		</div>
		<div class="blackboard_wrapper">
			<div class="content">
				<h1>Karnataka Learning Partnership</h1>
				<div class="headline_text">Come Engage With Us And Help Us Make Our Schools Better For Our Children.</div>
				<div class="headline_text_mobile"><img src="/images/home_headline_text_mobile@2x.png" alt="Come Engage With Us And Help Us Make Our Schools Better For Our Children." /></div>
				<div class="info">
					<p>The Karnataka Learning Partnership is a public platform where all the stakeholders involved in primary education can participate and contribute to the cause of ensuring better schools and education for all children in Karnataka.</p>
					<p><a href="">Read more</a></p>
				</div>
			</div>
		</div>
	</header>

	<section class="home-section how-you-can-help">
		<div class="container">
			<h2>How you can help<span></span></h2>

			<div class="grid_item grid_4 alpha col_pay_a_visit">
				<h3>Pay a visit</h3>
				<p>
					Got some free time?<br/>
					Visit a school in your local area.<br/>
					Look around and observe. Help keep a check on things.
				</p>
			</div>
			<div class="grid_item grid_4 col_volunteer">
				<h3>Volunteer</h3>
				<p>
					Show your Volunteer Spirit.<br/>
					Spend some of your free time teaching and helping children in nearby schools and make a diffrence in someone's life.
				</p>
			</div>
			<div class="grid_item grid_4 omega col_donate">
				<h3>Donate</h3>
				<p>
					Donate books, computers, chairs, tables, sports equipment, etc.
					Your donations help the school provide better education environment to the childhren.
				</p>
			</div>
			<div class="clr"></div>
		</div>
	</section>

	<section class="home-section recent-activities">
		<div class="container">
			<div class="grid_item grid_4 alpha col_schools_around_you">
				<h2>Schools Nearby<span></span></h2>
				<h3>Updates from GKHPS</h3>
				<h4>Homaravu</h4>
				<p>
					Teach for India is currently in 5 cities - Mumbai , Pune , Hyderabad , Delhi , Chennai.
				</p>
			</div>
			<div class="grid_item grid_4 col_volunteer_stories">
				<h2>Volunteer Stories<span></span></h2>
				<h3>The New Maps Portal</h3>
				<h4>Behind the Scenes</h4>
				<p>
					I recently re-wrote the maps portal for the KLP. The map is an important part of our project, action and process because it serves as the pivot point of navigation.
				</p>
			</div>
			<div class="grid_item grid_4 omega col_updates">
				<h2>Updates<span></span></h2>
				<h3>The New Maps Portal</h3>
				<h4>Behind the Scenes</h4>
				<p>
					Teach for India is currently in 5 cities - Mumbai , Pune , Hyderabad , Delhi , Chennai.
				</p>
			</div>
			<div class="clr"></div>
		</div>
	</section>

	<section class="home-section come-volunteer">
		<div class="container">
			<h2>Come Volunteer Now!<span></span></h2>
			<p>
				Help your local communtiy by teaching and mentoring children at schools nearby you.<br/>
				Your little efforts can make a difference in someone's life.
			</p>
			<div class="ta_c"><a href="" class="button">Volunteer now</a></div>
		</div>
	</section>

