$def with (data)
<html> 
  <head> 
  <meta charset="utf-8" /> 
    <link type="text/css" rel="stylesheet" href="/css/legacy/listfiles.css"/>
    <script type="text/javascript" src="/js/legacy/listfiles.js"></script>

  </head>
  <body onload="listFiles($data)" class="yui3-skin-sam  yui-skin-sam">
    <div id="container">
      <div id="selections" style="display:none">
        &nbsp;&nbsp;Select the type of Report from options below: <br/>
        &nbsp;&nbsp;Constituency-wise Reports from <a href="/text/reports" target="_blank">India Governs</a> is accessible <a href="/listFiles/4">here</a><br/>
        <select onchange='selectFiles();' id='filetype'>
          <option value="">---Select---</option>
          <option value="mp_files">MP Reports</option>
          <option value="mla_files">MLA Reports</option>
          <!--option value="corp_files">Corporator Reports</option-->
        </select>
      </div>
      <div id="disclaimer" style="display:none"><b>Disclaimer:</b> These reports below are being furnished for your information. You may choose to reproduce or redistribute this information in part or in full to any other person with due acknowledgement of Karnataka Learning Partnership (KLP). You will ensure that no part of the information provided here may be quoted out of context or misrepresented. KLP makes every effort to use reliable and comprehensive information from the government and other independent sources, but KLP does not represent that the data or information are accurate or complete. KLP is an independent, not-for-profit group. The information provided herein has been provided without regard to the objectives or opinions of those who may receive it. Please also see the <a href='/text/disclaimer' target='_blank'>KLP Data Disclaimer</a>.</div>
      <div id="license" style="display:none"><b>Data:</b> The KLP Data made available below is under the <a href='http://opendatacommons.org/licenses/odbl/1.0/' target='_blank'>Open Database License</a>. Any rights in individual contents of the database are licensed under the <a href='http://opendatacommons.org/licenses/dbcl/1.0/' target='_blank'> Database Contents License</a>. Please also see the <a href='/text/disclaimer' target='_blank'>KLP Data Disclaimer</a>.</div>
      <div id="mp_files" style="display:none;"></div>
      <div id="mla_files" style="display:none;"></div>
      <div id="corp_files" style="display:none;"></div>
      <div id="raw_files" style="display:none;"></div>
      <div id="ig_files" style="display:none;">
      </div>
    </div>
  </body>
</html> 
