$def with (data)
<html> 
  <head> 
  <meta charset="utf-8" /> 
    <link type="text/css" rel="stylesheet" href="/css/listfiles.css"/>
    <script type="text/javascript" src="/js/klp.js"></script>

  </head>
  <body onload="listFiles($data)" class="yui3-skin-sam  yui-skin-sam">
    <div id="container">
      <select onchange='selectFiles();' id='filetype'>
          <option value="">---Select---</option>
          <option value="mp_files">MP Reports</option>
          <option value="mla_files">MLA Reports</option>
          <option value="corp_files">Corporator Reports</option>
      </select>
      <div id="mp_files" style="display:none;"></div>
      <div id="mla_files" style="display:none;"></div>
      <div id="corp_files" style="display:none;"></div>
    </div>
  </body>
</html> 
