$var title: KLP: Maps
$var jsfiles: /yui/build/yui/yui-min.js
$var cssfiles: js/libs/draw/leaflet.draw.css /css/style.css /yui/build/cssfonts/fonts-min.css /css/grid.css /css/list.css /css/map.css /js/libs/leaflet/leaflet.css
$var btags: class="yui-skin-sam"

<div class="grid_12" id="contentfiller">
<!-- 		<div id="legend">
			<div class="grid_10">
				<ul>
					<li><img src="/images/district.png" alt="District" />District</li>
					<li><img src="/images/block.png" alt="Block" />Block</li>
					<li><img src="/images/cluster.png" alt="Cluster" />Cluster</li>
					<li><img src="/images/school.png" alt="School" />School</li>
					<li><img src="/images/project.png" alt="Project" />Project</li>
					<li><img src="/images/circle.png" alt="Circle" />Circle</li>
					<li><img src="/images/preschool.png" alt="PreSchool" />PreSchool</li>
				</ul>
			</div>
		</div> -->
<div id="map" class="grid_12"></div>
</div>
<link rel="stylesheet" href="js/libs/cluster/MarkerCluster.css" />
<link rel="stylesheet" href="js/libs/cluster/MarkerCluster.Default.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script type="text/javascript" src="/js/libs/leaflet/leaflet.js"></script>
<script type="text/javascript" src="/js/libs/draw/leaflet.draw.js"></script>
<script src="js/libs/cluster/leaflet.markercluster-src.js"></script>
<!--[if lte IE 8]><link rel="stylesheet" href="../dist/MarkerCluster.Default.ie.css" /><![endif]-->
<script type="text/javascript" src="js/maps.js"></script>
