<html>
<head>
	<title>The Karnataka Learning Partnership: Map</title>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/js/libs/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/js/libs/bootstrap/css/bootstrap-responsive.min.css">
	<script type="text/javascript" src="/js/libs/bootstrap/js/bootstrap-dropdown.js"></script>
	<script type="text/javascript" src="/js/libs/bootstrap/js/bootstrap-alert.js"></script>
	<link rel="stylesheet" href="js/libs/draw/leaflet.draw.css" />
	<link rel="stylesheet" href="/js/libs/leaflet/leaflet.css" />

	<link rel="stylesheet" href="js/libs/cluster/MarkerCluster.css" />
	<link rel="stylesheet" href="js/libs/search/l.geosearch.css" />

	<link rel="stylesheet" href="/css/map.css" />

	<script type="text/javascript" src="/js/libs/leaflet/leaflet.js"></script>

	<script type="text/javascript" src="/js/libs/draw/leaflet.draw.js"></script>
	<script src="js/libs/search/l.control.geosearch.js"></script>
	<script src="js/libs/search/l.geosearch.provider.google.js"></script>
	<script src="js/libs/cluster/leaflet.markercluster-src.js"></script>
	<!--[if lte IE 8]><link rel="stylesheet" href="../dist/MarkerCluster.Default.ie.css" /><![endif]-->

</head>

<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<a class="brand" href="/">The Karnataka Learning Partnership</a>
			<ul class="nav">
				<li class="active"><a href="/map">Map</a></li>
				<li><a href="/text/partners">Partners</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Programmes<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/text/reading">Reading</a></li>
						<li><a href="/text/maths">Maths</a></li>
						<li><a href="/text/library">Library</a></li>
						<li><a href="/text/preschool">Preschools</a></li>
					</ul>
				</li>

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Database<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="http://status.klp.org.in">Status</a></li>
						<li><a href="/listFiles/2">Raw Data</a></li>
						<li><a href="http://github.com/klpdotorg">Github</a></li>
						<li><a href="/text/disclaimer">Disclaimer</a></li>
					</ul>
				</li>

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/listFiles/1">KLP Reports</a></li>
						<li><a href="/text/reports">Other Reports</a></li>
					</ul>
				</li>			    

			</ul>
		</div>
	</div>

	<div id="map"></div>

</body>
<script type="text/javascript" src="js/maps.js"></script>
</html>
