$var title: KLP: Nagu Naguta Ganitha
$var cssfiles: /yui/build/cssfonts/fonts-min.css /css/style.css /css/text.css /css/grid.css
$var jsfiles:
$var btags:
<div class="container container_12">
<div class="grid_12" id="contentfiller">
<div class="textpage">

<h1 class="title">Maths Programme</h1>

<p>The Mathematics Support Programme makes math fun for children. Simple
concepts like numbers, place value, mathematical functions are taught
using an activity based method with tools like a counting board and
number grids, which help children comprehend mathematics. The
programme introduces creativity and allows the child to imagine and
creatively explore different ways to arrive at a solution.
</p>

<div id="table-of-contents">
<h2>Table of Contents</h2>
<div id="text-table-of-contents">
<ul>
<li><a href="#sec-1">1 Methodology </a>
<ul>
<li><a href="#sec-1.1">1.1 The Thinking Strategic Approach </a></li>
<li><a href="#sec-1.2">1.2 The Basic Plan </a></li>
<li><a href="#sec-1.3">1.3 For Concrete Experiences </a></li>
<li><a href="#sec-1.4">1.4 For Representational Experiences </a></li>
<li><a href="#sec-1.5">1.5 For Abstract Thinking Experiences </a></li>
<li><a href="#sec-1.6">1.6 Principles </a></li>
</ul>
</li>
<li><a href="#sec-2">2 Assessments and Evaluations </a></li>
<li><a href="#sec-3">3 Programme reports </a></li>
</ul>
</div>
</div>

<div id="outline-container-1" class="outline-2">
<h2 id="sec-1"><span class="section-number-2">1</span> Methodology </h2>
<div class="outline-text-2" id="text-1">


<p>
Nagu Nagutha Ganitha is a mathematics programme for building number
concepts among lower primary school children. The approach is based on
sequential thinking strategies - Concrete, Representational and
Abstract levels, in that order. The programme covers a wide range of
mathematical concepts and operations focusing on both Quantitative
Literacy and Quantitative Thinking.
</p>

</div>

<div id="outline-container-1.1" class="outline-3">
<h3 id="sec-1.1"><span class="section-number-3">1.1</span> The Thinking Strategic Approach </h3>
<div class="outline-text-3" id="text-1.1">


<ul>
<li>
Thinking strategies can be taught for developing Arithmetic Skills.
</li>
<li>
Strategic instruction becomes a valuable 'tool of the mind'
promoting mental arithmetic.
</li>
<li>
Thinking strategies allow 'Divergent Thinking,' that is, finding
different ways to solve a single problem, and reduce rote learning.
</li>
<li>
Thinking strategies allow 'individual progression' with respect to
pace of learning among differently-abled children.

</li>
</ul>
</div>

</div>

<div id="outline-container-1.2" class="outline-3">
<h3 id="sec-1.2"><span class="section-number-3">1.2</span> The Basic Plan </h3>
<div class="outline-text-3" id="text-1.2">


<p>
Nagu Nagutha Ganitha is organized as a twelve-week programme, six days
a week, ninety minutes a day with a series of mathematical activities,
tasks and games through which experiences are provided for all the
three modes of thinking. Planned sessions in groups of 10 to 15
children provide for activity oriented learning with a team spirit.
</p>
</div>

</div>

<div id="outline-container-1.3" class="outline-3">
<h3 id="sec-1.3"><span class="section-number-3">1.3</span> For Concrete Experiences </h3>
<div class="outline-text-3" id="text-1.3">


<p>
The Padmini Counting Board (PCB) provides learning through counting
beads up to five-digit numeracy skills.
</p>
</div>

</div>

<div id="outline-container-1.4" class="outline-3">
<h3 id="sec-1.4"><span class="section-number-3">1.4</span> For Representational Experiences </h3>
<div class="outline-text-3" id="text-1.4">


<p>
A variety of Number Grids provides identification of number gradation,
number patterns etc. A Number Grid used as an aid or a reference card
to perform different arithmetical tasks helps children to develop
representational thinking by absorbing into visual memory the number
patterns made available in the grid.
</p>
</div>

</div>

<div id="outline-container-1.5" class="outline-3">
<h3 id="sec-1.5"><span class="section-number-3">1.5</span> For Abstract Thinking Experiences </h3>
<div class="outline-text-3" id="text-1.5">


<p>
A series of mathematical games and puzzles and interactive sessions to
solve the mathematical problems of daily life situations provides oral
and mental arithmetic skills.
</p>
</div>

</div>

<div id="outline-container-1.6" class="outline-3">
<h3 id="sec-1.6"><span class="section-number-3">1.6</span> Principles </h3>
<div class="outline-text-3" id="text-1.6">


<ul>
<li>
Emphasise 'Reversible Thinking' at every stage through 'counting on'
and 'counting back' the numerals in all the three modes of thinking.
</li>
<li>
Adopt Strategy. 'Reach ten or multiples of ten,' in both forward and
backward counting to solve different arithmetic tasks, first with
counting beads and later with the aid of the Number Grid and finally
without any external aid, thus enabling the child to carry out
Mental Mathematics.
</li>
<li>
Integrate four basic operations of arithmetic - addition,
subtraction, multiplication and division as inverse operational
strategies without isolating them, as is usually considered in
textbooks. For example, 4+3=7; 7-3=4 are learnt together as inverse
operations.
</li>
<li>
Involve children in Quantitative Reasoning activities with 'hands
on' experiences for concepts of Money, Time, Measurement and Shapes.

</li>
</ul>

<p>Thus Nagu Nagutha Ganitha provides everyday experiences for all the
three modes of thinking for selected concepts and operations through a
variety of activities, and children emerge competent and confident in
mathematics skills. Learning mathematics would be a joyful experience
for every child through Nagu Nagutha Ganitha if its approach, plan and
principles are adopted carefully and with concerted effort.
</p>
<p>
<img src="/images/nng-meth.jpg"  alt="/images/nng-meth.jpg" />
</p>
</div>
</div>

</div>

<div id="outline-container-2" class="outline-2">
<h2 id="sec-2"><span class="section-number-2">2</span> Assessments and Evaluations </h2>
<div class="outline-text-2" id="text-2">


<p>
Children who require remedial intervention with mathematics are
identified by the teachers and enrolled into the programme. Once
enrolled, the children go through 20 sessions to familiarize
themselves with the basic concepts and the new tools in the math
kit. After completing 20 sessions, the children are administered a
baseline test where they are assessed on the four math competencies,
namely, numeracy - comprising of number concepts and place value; four
operations, quantitative reasoning and mental math. The main objective
of this testing to measure the children at their 'entry level' and
therefore to measure the impact of the programme at the end of 60
sessions. A similar test on the four competencies is given at the end
of 60 sessions. A comparative analysis between the 20th and 60th day
testing would be conducted to study the impact of the programme.
</p>
</div>

</div>

<div id="outline-container-3" class="outline-2">
<h2 id="sec-3"><span class="section-number-2">3</span> Programme reports </h2>
<div class="outline-text-2" id="text-3">


<ul>
<li>
Nagu Nagutha Ganith, Pilot Programme: January to March 2007. <a href="/pdfs/nng-pilot.pdf">pdf</a>
</li>
</ul>
</div>
</div>
</div>
</div><!--end of grid contentfiller-->
</div>
