$var title: KLP: Partners
$var cssfiles: /yui/build/cssfonts/fonts-min.css /css/style.css /css/grid.css /css/text.css
$var jsfiles:
$var btags:
<div class="container container_12">
<div class="grid_12" id="contentfiller">
<div class="textpage">
<h1>Partners</h1>
<div class="grid_12">
The Karnataka Learning Partnership is, fundamentally, build on a collaborative model with inputs from multiple partners. Currently, the following organisations are partners and have shared data within the platform:
<p>
1.<b>Akshara Foundation.</b> Website: <a href="http://akshara.org.in/" style="color:#43AD2F">http://akshara.org.in</a><br/>
Locations: Bangalore, Dharwad, Koppal, Gulbarga, Hosakote <br/>
Grades: Primary Schools, Preschools<br/>
2.<b>Prema Vidya.</b> Website: <a href="http://premavidya.svym.org/" style="color:#43AD2F">http://premvidya.svym.org</a><br/>   
Locations: Bangalore<br/>
Grades: Secondary Schools<br/>
3.<b>Sikshana. </b> Website: <a href="http://www.sikshana.org" style="color:#43AD2F">http://www.sikshana.org/</a><br/>
Locations: Ramnagara<br/>
Grades: Primary Schools<br/>
</p>
<p>
If your organisation is interested in partnering with the KLP, please do write to us at <a href="mailto:team@klp.org.in" style="color:#43AD2F">team@klp.org.in</a>
</p>
<p>
When the original KLP project was conceived, we had many local partners across Karnataka who helped with data collection and assessments across multiple districts in Karnataka. They are:
</p>
</div>

<div class="clearfix"></div>
<div class="grid_6">

<p>
<h2>Bagalkot</h2>

1.BLDE Association Email <br/>
2.CIBIRD<br/>
3.Godavari Sugars<br/>
4.RDF<br/>
5.Sharada Vidyalaya <br/>
6.Shri. Gurusiddeshwar Brahan Mutt, Guledgudda<br/>
7.Sri Prabulingeswar Sugars <br/>
8.SWORD,<br/>
9.VARCHHES 
</p>
<p>
<h2>Bidar</h2>

1.Jnyana Karanji Charitable Trust <br/>
2.Manava Vikas Kendra (MAVIK)<br/>
3.NKRDS <br/>
4.PRAWARDA <br/>
5.SAHARDA (DCC-Bidar) <br/>
6.Sevalal Rural Development Society<br/>
7.Shri. Rajeshwar Mutt Todola<br/>
8.Shri. Virupaksheshwar Mutt Mehakar

</p>
</div>


<div class="grid_6">
<h2>Bellary</h2>


1.J S W Foundation <br/>
2.Navya Disha <br/>
3.Vikas Cooperative Hospative Society's Vikas Foundation 

</p>
<p>
<h2>Bijapur</h2>

1.HANDS, Bijapur <br/>
2.POWER <br/>
3.REACHS<br/>
4.SPURTHI, Bijapur <br/>
5.Sri. Rudramunishwar Mutt, Yankanchi
</p>
<p>
<h2>Dharwad</h2>

Kalpavruksha Grameena Abivruddi Samsthe

<h2>Gadag</h2>

1.IDF<br/>
2.Sarvodaya ( IRDTES)
</p>
</div>

<div class="clearfix"></div>

<div class="grid_6">

<h2>Gulbarga</h2>

1.Arunnodaya resource Center (Myrada), Nagaidalai<br/>
2.Bhoruka Charities<br/>
3.Development Resource Center (Myrada), Mudhol <br/>
4.FWA Email: fwashahapur@gmail.com<br/>
5.Grameen Abhiruddi Kendra Vasavadatta Cement, Sedam<br/>
6.Janani Resource Center (Myrada), Kamlapur<br/>
7.Janani Resource Center (Myrada), Sulepet<br/>
8.Jyoti Resource Center (Myrada), Kodli <br/>
9.K G B/Pariwartana <br/>
10.KBBS Email: <br/>
11.Local Resource Center (Myrada), Ratakal <br/>
12.Marg <br/>
13.NCUI <br/>
14.S.B.E.S.<br/>
15.SAHARA <br/>
16.Sarvodaya Resource Center (Myrada), Kalagi<br/>
17.Shri Madivalshewar Mutt, Kadkol<br/>
18.Shri. Charbasaveshwar Mutt, Shapur<br/>
19.Shri. Koraneshwar Mutt, Kajuri<br/>
20.Shri.Mahanteshwar Mutt, Chinmayagiri<br/>
21.Shri. Mahanteshwar Mutt, Doranhalli<br/>
22.Shri. Pakireshwar Mutt, Shapur<br/>
23.SIRE <br/>
24.Sri. Kasa Mutt Gurmitakal<br/>
25.Sri. Shivanada Shivayogi Virakta Mutt, Nelogi<br/>
26.Sri. Virakta Mutt, Jeratagi<br/>
27.Vishva Jyoti Mahila Kalanjiamokkut (Dhan) <br/>
28.World Vision India 

</div>

<div class="grid_6">
<h2>Koppal</h2>

1.Kishikinda Trust <br/>
2.Sarvodaya 

<h2>Raichur</h2>

1.Aksharum<br/>
2.AWARD <br/>
3.GRAMS <br/>
4.Janahita <br/>
5.Janakalyan <br/>
6.Khalandriya Education Society<br/>
7.Pragati Education society<br/>
8.Prerana <br/>
9.SEVA <br/>
10.Shri Amateshwar Mutt, Devargudda<br/>
11.Shri Boodi Basaveshwar Mutt, Gobbur<br/>
12.Shri. Charanti Mutt<br/>
13.Sri. Kotturu Basaveshwara Yuvaka Mandali<br/>
14.The Hatti Gold Mines Co. Ltd.

<h2>Uttar Kannada</h2>

MERDS 

</div>
<div class="clearfix">
</div>
</div><!--end of grid contentfiller-->
</div>
