$var title: KLP: Oduve Nanu
$var cssfiles: /yui/build/cssfonts/fonts-min.css /css/grid.css /css/text.css /css/style.css
$var jsfiles:
$var btags:
<div class="container container_12">
<div class="grid_12" id="contentfiller">
<div class="textpage">
<h1 class="title">Reading Programme</h1>

<p>The Reading Support Programme is designed to achieve reading
proficiency among children. We know from research that 40% of children
in a class cannot read at an age appropriate level. It is critical to
address this, if the child is expected to learn well. The Reading
Support Programme focuses on making reading a key activity within the
existing school system and uses a simple story based methodology to
facilitate the reading process for children.
</p>

<div id="table-of-contents">
<h2>Table of Contents</h2>
<div id="text-table-of-contents">
<ul>
<li><a href="#sec-1">1 Overview </a></li>
<li><a href="#sec-2">2 Methodology </a>
<ul>
<li><a href="#sec-2.1">2.1 Teaching Learning Material </a></li>
<li><a href="#sec-2.2">2.2 Reading the Story Card </a></li>
<li><a href="#sec-2.3">2.3 Using the Kagunitha chart </a></li>
<li><a href="#sec-2.4">2.4 Role-play </a></li>
<li><a href="#sec-2.5">2.5 Reasons for success </a></li>
</ul>
</li>
<li><a href="#sec-3">3 Assessments and Evaluations </a></li>
<li><a href="#sec-4">4 Programme reports </a></li>
</ul>
</div>
</div>

<div id="outline-container-1" class="outline-2">
<h2 id="sec-1"><span class="section-number-2">1</span> Overview </h2>
<div class="outline-text-2" id="text-1">


<p>
Reading is the gateway to all other knowledge. If children do not
learn to read efficiently, the path is blocked to every subject they
encounter in their school years. And yet 40% of children between
Classes 2 and 7 in government schools cannot read a simple unseen
passage.
</p>
<p>
Research shows that when children fall behind in school, they become
frustrated and disinterested and other links related to poverty become
active. This results in them dropping out or being withdrawn from
school by parents. These children, as uneducated adults, find it
difficult to obtain rewarding employment and are effectively prevented
from drawing on the power of education to improve and enrich their
lives. Researchers speak of this syndrome as the "Matthew Effect" -
the rich get richer and the poor get poorer.
</p>
<p>
Over the years, though the government has laboured to improve
enrollment through various programmes like Chinnara Angala, Coolie
Inda Shalege and Baa Marali Shalege; the learning achievement inside
the classroom has continued to be dismal &amp; disappointing. It is
against this background that Akshara Foundation conceived the
Accelerated Reading Programme: the programme aims to enable children
to learn to read in a short period of time. The Programme is conducted
over 45 working days. It is based on a technique that comes naturally
to children and uses an integrated approach where saying, doing and
reading are combined like a game. Instead of learning sequentially,
children are engaged in a variety of activities, which are
interconnected and allow for a child to learn to "read" all on his
own.
</p>
</div>

</div>

<div id="outline-container-2" class="outline-2">
<h2 id="sec-2"><span class="section-number-2">2</span> Methodology </h2>
<div class="outline-text-2" id="text-2">


<p>
Conventional teaching follows a slow progression - from alphabet to
word, slowly to simple sentences and finally to paragraphs. The
Accelerated Reading Programme reverses this process. The new technique
starts with 'reading' - (bordering at imitations of reading, as
children do in homes where they are read to regularly) from the very
first day. Children imagine &amp; wonder trying to make sense of what they
see. They stumble, 'read', guess what the words may be, try and make
meaning of it - eventually learn to read and the teachers do not
interfere with criticism or over-enthusiastic assistance. They just
facilitate the process and ask an occasional question to help the
child correct himself/herself.
</p>
<p>
<img src="/images/read-meth.jpg"  alt="/images/read-meth.jpg" />
</p>
<p>
The technique is neither complex nor does it involve expensive
teaching material. A set of reading cards designed with careful
content is all that is required. A fortnightly assessment monitors the
child's progress or lack of it. The teaching materials include sets of
story cards with illustration, alphabet charts and a set of alphabet
cards.
</p>

</div>

<div id="outline-container-2.1" class="outline-3">
<h3 id="sec-2.1"><span class="section-number-3">2.1</span> Teaching Learning Material </h3>
<div class="outline-text-3" id="text-2.1">


<p>
Four types of teaching learning materials are used
</p>
<ol>
<li>
A set of 45 simple stories printed on separate sheets, of a
slightly higher degree of difficulty than the simple
paragraphs. Each story has illustrations. Each child gets one story
card a day. The teacher has the same story card in a bigger form
factor.
</li>
<li>
The"kaagunitha"chart - one chart for each child. This has
consonants in the first column and each row starting with the
consonant shows how vowel signs are added to the consonant to make
letters for each sound such as ka, kaa, ki, kee, ku, koo, kay, kai,
ko, kow etc.
</li>
<li>
Lots of sentence cards (about 20-30 sentence cards/20 children
class) or papers with 3 line simple sentences without
"gunithakshara" and "otthakshara".


</li>
</ol>

<p><img src="/images/read-tlm.jpg"  alt="/images/read-tlm.jpg" />
</p>
<p>
Four main activities constitute a class:
</p>
</div>

</div>

<div id="outline-container-2.2" class="outline-3">
<h3 id="sec-2.2"><span class="section-number-3">2.2</span> Reading the Story Card </h3>
<div class="outline-text-3" id="text-2.2">


<p>
The teacher begins by showing the illustrations on the card to the
children to trigger their imagination. The writing in the card is
covered using another sheet of paper. Children begin by guessing the
story, interpreting the illustration in his/her own way. Four or five
of them are given a chance to tell their stories but the teacher makes
no comment on their version. Then the teacher volunteers to narrate
the story using words printed in the story card.
</p>
<p>
The story cards are given to the children - each child has a story
card, and the teacher asks, "Who would like to read like I do?" and
reads the story clearly but calmly without dramatization. The teacher
reads the story once - loud, pronouncing each word clearly and
pointing with her finger to each word as she reads. Children watch,
observe by pointing their finger on the particular words.
</p>
<p>
Now it is the children's turn to attempt to read. Some children raise
their hands while others don't. Every one is given a chance. When one
reads the others look at their own cards. The teacher does not correct
the child even if blatant errors are committed. But as the days pass
children mutually begin to correct each other when mistakes are
made. Even the children who were shy to volunteer and read now ask to
read. Once they come forward, they are given 5 minutes to consult
their friends and learn. This facilitates peer learning making way for
a unique social reading bond to be formed in the group. Children with
lower reading levels often try to imitate their teacher or peers while
trying to recall the exact words of the story. Of course, on day one,
the finger is pointing at different places but the children help each
other and learn.
</p>
<p>
A new story is picked up every day rather than waiting for everyone to
'master' the previous story.
</p>
</div>

</div>

<div id="outline-container-2.3" class="outline-3">
<h3 id="sec-2.3"><span class="section-number-3">2.3</span> Using the Kagunitha chart </h3>
<div class="outline-text-3" id="text-2.3">


<p>
The teacher asks the children to listen carefully as she recites the
sequence of sounds derived from consonants and then asks children to
try the corresponding sequence with other consonants. The children are
also asked to read vertically and horizontally from the Kagunitha
chart.
</p>
<p>
The teacher selects some simple words from the story. A word is said
and the children are asked to identify the alphabets in the Kagunitha
chart. Eight to ten words are selected each day.
</p>
<p>
Similarly, a word is given and the children are asked to find it in
the story. This helps in familiarizing with the alphabets.
</p>
<p>
The children who do not know consonants are given a few (any) alphabet
cards to take home so that they can learn to associate the sound with
the shape. Within a few days they know how to use the Kagunitha chart.
</p>
</div>

</div>

<div id="outline-container-2.4" class="outline-3">
<h3 id="sec-2.4"><span class="section-number-3">2.4</span> Role-play </h3>
<div class="outline-text-3" id="text-2.4">


<p>
Children are asked to act out the story choosing characters of their
liking. This kindles the creative quotient and makes the entire
'learning to read' activity fun and interesting.
</p>
<p>
The class is often composed of children of different age groups and
learning levels. There is a possibility of some of them not coping
well for being irregular to the sessions or fear of being verbal in a
big group might stop them. These children are grouped together and the
teachers plan additional activities with them after the scheduled
daily classes if found feasible and useful.
</p>
<p>
The steps detailed above essentially form a broad framework. The
methodology is flexible in nature. Teachers are given the freedom to
modify the steps involved to suit their need.
</p>
</div>

</div>

<div id="outline-container-2.5" class="outline-3">
<h3 id="sec-2.5"><span class="section-number-3">2.5</span> Reasons for success </h3>
<div class="outline-text-3" id="text-2.5">


<ul>
<li>
Individual Opportunity for each child to read.
</li>
<li>
Heterogeneous (mix of all reading levels) class facilitates peer group learning.
</li>
<li>
Free time for children to copy, discuss &amp; learn from each other.
</li>
<li>
Finger pointing - a must when children read.
</li>
<li>
Kagunitha exercise, flashcards important to reinforce knowledge about letters.
</li>
<li>
Noise, chatter, indiscipline in class kindles learning &amp; creativity;
teachers must guarantee a free learning environment.

</li>
</ul>
</div>
</div>

</div>

<div id="outline-container-3" class="outline-2">
<h2 id="sec-3"><span class="section-number-2">3</span> Assessments and Evaluations </h2>
<div class="outline-text-2" id="text-3">


<p>
All the children are assessed using a standardized baseline test at
the start of the programme and based on their reading competency they
are divided into 5 levels:
</p>
<ol>
<li>
0 Level - where the child can barely identify 25% of the alphabet
</li>
<li>
Letter Level - where the child can identify most of the letters
</li>
<li>
Word Level - where the child can identify words
</li>
<li>
Sentence Level - where the child can read sentences
</li>
<li>
Paragraph Level - where the child can read the entire paragraph

</li>
</ol>

<p>All the children at 0 level, letter level and word level are then put
through the Programme. They are then regularly assessed through the 45
day programme and their progress is recorded. They are assessed on the
15th day, the 30th day and the 45th day of the programme.
</p>
<p>
The results of the assessments are available on this website. 
</p>
</div>

</div>

<div id="outline-container-4" class="outline-2">
<h2 id="sec-4"><span class="section-number-2">4</span> Programme reports </h2>
<div class="outline-text-2" id="text-4">


<ul>
<li>
Reading Support Programme Report: Bangalore, 2006. <a href="#pdfs/read-supp.pdf">pdf</a>
</li>
<li>
Reading Support Programme: Background and Methodology. <a href="#pdfs/read-back.pdf">pdf</a>
</li>
<li>
Pupil Teacher Ratio and the Accelerated Reading Programme in Karnataka's government schools. <a href="#pdfs/read-ptr.pdf">pdf</a>
</li>
</ul>
</div>
</div>
</div>
</div><!--end of grid contentfiller-->
</div>
