<!DOCTYPE HTML>
<HEAD>

<SCRIPT LANGUAGE="JavaScript">
<!-- Original:  Dan Worsham -->

<!-- This script and many more are available free online at -->
<!-- The JavaScript Source!! http://javascript.internet.com -->

<!-- Begin
var myloc = "../reports/";
var locarray = myloc.split("/");
delete locarray[(locarray.length-1)];
var arraytext = locarray.join("/");
//  End -->
</script>
</HEAD>

<!-- STEP TWO: Copy this code into the BODY of your HTML document  -->

<BODY>

<center>
<form>
<input type=button value="Show Current Directory Listing (Or Index.html Page)" onClick="window.location=arraytext;">
</form>
</center>

<p><center>
<font face="arial, helvetica" size="-2">Free JavaScripts provided<br>
by <a href="http://javascriptsource.com">The JavaScript Source</a></font>
</center><p>

<div class="grid_12">
  <div class="grid_6">
    <div id="mplist"></div>
  </div>
  <div class="grid_6">
    <div id="mlalist"></div>
  </div>
  <div class="clearfix"></div>
</div>
</BODY>
</HTML>
