$def with (questions)
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Share Your Story</title>
    <script type="text/javascript" src="/yui/build/yui/yui-min.js"></script>
    <!-- Utility Dependencies -->
    <script src="http://yui.yahooapis.com/2.9.0/build/yahoo-dom-event/yahoo-dom-event.js"></script> 
    <script src="http://yui.yahooapis.com/2.9.0/build/element/element-min.js"></script> 
    <!-- Needed for Menus, Buttons and Overlays used in the Toolbar -->
    <script src="http://yui.yahooapis.com/2.9.0/build/container/container_core-min.js"></script>
    <script src="http://yui.yahooapis.com/2.9.0/build/menu/menu-min.js"></script>
    <script src="http://yui.yahooapis.com/2.9.0/build/button/button-min.js"></script>

    <!-- Source file for Rich Text Editor-->
    <script src="http://yui.yahooapis.com/2.9.0/build/editor/editor-min.js"></script>
    <script type="text/javascript" src="/js/legacy/shareyourstory.js"></script>
    <script type="text/javascript" src="/js/utils/ezcalendar_orange.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/legacy/sys.css"/>
    <link type="text/css" rel="stylesheet" href="/css/legacy/grid.css"/>
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>
    <link type="text/css" rel="stylesheet" href="/css/legacy/list.css"/>
    <link type="text/css" rel="stylesheet" href="/css/legacy/printsys.css" media="print"/>
    <link rel="stylesheet" type="text/css" href="/css/utils/ezcalendar_orange.css" />
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/assets/skins/sam/skin.css">

<script type="text/javascript">
 var _gaq = _gaq || [];
 _gaq.push(['_setAccount', 'UA-3982320-11']);
 _gaq.push(['_trackPageview']);

 (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();
</script>
  </head>
<body onload="initialise()" class="yui3-skin-sam  yui-skin-sam">

   <header class="main-header">
    <div class="header-content">
      <a href="index.html" class="header_mobile_logo"></a>
      <a class="mobile_icon" onclick="toggle_mobile_nav();"></a>
      <nav class="top-nav" role="navigation">
        <ul id="navigation">
          <li class="home">
            <a href="/" title=""><h1>Karnataka Learning Partnership</h1></a>
          </li>
          <li class="school_map">
            <a href="/map" title="">School Map</a>
          </li>
          <li class="programmes">
            <a href="#" title="">Programmes</a>
            <ul>
              <li><a href="/text/reading" title=""><span></span>Reading</a></li>
              <li><a href="/text/maths" title=""><span></span>Math</a></li>
              <li><a href="/text/library" title=""><span></span>Library</a></li>
              <li><a href="/text/preschool" title=""><span></span>Pre-School</a></li>
            </ul>
          </li>
          <li class="volunteer"><a href="volunteer.html" title="">Volunteer</a></li>
          <li class="database">
            <a href="#" title="">Database</a>
            <ul>
              <li><a href="http://status.klp.org.in" target="_blank" title=""><span></span>Status</a></li>
              <li><a href="/listFiles/2" target="_blank" title=""><span></span>Raw Data</a></li>
              <li><a href="http://github.com/klpdotorg" target="_blank" title=""><span></span>Github</a></li>
            </ul>
          </li>
          <li class="reports">
            <a href="#" title="">Reports</a>
            <ul>
              <li><a href="http://reports.klp.org.in" target="_blank" title=""><span></span>KLP Reports</a></li>
              <li><a href="http://sslc.klp.org.in" target="_blank" title=""><span></span>SSLC</a></li>
              <li><a href="/text/reports" title=""><span></span>Other Reports</a></li>
            </ul>
          </li>
          <li class="about">
            <a href="/text/aboutus" title="">About</a>
            <ul>
              <li><a href="/text/aboutus" title=""><span></span>About</a></li>
              <li><a href="/text/partners" title=""><span></span>Partners</a></li>
              <li><a href="/text/disclaimer" title=""><span></span>Disclaimer</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <div class="clr"></div>
    </div>
  </header>


<div class="container container_12">
<div class="grid_12">
  <div class="container container_12">
    <div id="header" class="grid_12">
      <div id="title"></div>
      <div id="schoolInfo"></div>
    </div>

    <div class="grid_12" id="formfiller">
      <form id="schoolform" name="schoolform" action="/postSYS/school" onsubmit="return submitData()" method="post" enctype="multipart/form-data" style="display:inline">
     <div class="grid_4">
      
      <input type="hidden" name="schoolid" id="schoolid">
      <input type="hidden" name="schooltype" id="schooltype">
      <input type="hidden" name="chkboxes" id="chkboxes">
    
      <div class='div-table'>
      <div class='div-table-caption' >Your Contact Information</div>
        <div class='div-table-row'>
          <div class='div-table-col' style='width:110px'>Name</div><div class='div-table-col'><input type="text" name="name" id="name"/></div>
        </div>
        <div class='div-table-row'>
          <div class='div-table-col' style='width:110px'>E-Mail <img src="images/legacy/mandatory.gif" height="10" style='vertical-align:top'/></div><div class='div-table-col'><input type="text" name="email" id="email" onchange='verifyEmail(this.value,"btn1");'/></div>
        </div>
          <div class='div-table-row'>
            <div class='div-table-col' style='width:110px'>Telephone </div><div class='div-table-col'><input type="text" name="telephone" id="telephone"/></div>
          </div>     
        <div class='div-table-row'>
          <div class='div-table-col' style='width:110px'>Date of Visit <img src="images/legacy/mandatory.gif" height="10" style='vertical-align:top'/></div>
          <div class='div-table-col'><input readonly name="dateofvisit" id="dateofvisit" type="text" size="10" maxlength="10" value="" /> 
            <a href="javascript: showCalendar('dateofvisit')"><img src="images/legacy/calbtn.gif" width="18" height="18" alt="Calendar" style='vertical-align:middle'/></a>
          </div>
        </div>
      </div>
      <div id="note"><img src="images/legacy/mandatory.gif" height="10" style='vertical-align:top'/>We require the date of your visit and a valid email address to be able to verify what you have submitted this information and to contact you, if necessary.</div>
      <div id="photos">
      <label>Upload Photos:-<label>
        <div id="image-inputs">
    <input type="file" name="file1" onchange='check_extension(this.value,"btn1");'>
    <input type="file" name="file2" onchange='check_extension(this.value,"btn1");'>
    <input type="file" name="file3" onchange='check_extension(this.value,"btn1");'>
    <input type="file" name="file4" onchange='check_extension(this.value,"btn1");'>
    <input type="file" name="file5" onchange='check_extension(this.value,"btn1");'>
        </div>
      </div>
    </div> <!--closing grid_6-->
    <div class="grid_8">
      <div class='div-table'>
      <div class='div-table-caption'>Please answer these questions based on your visit:</div>
      $for q in questions:
        <div class='div-table-row'>
          <div class='div-table-col' style="width:250px">$q["text"]</div>
          <div class='div-table-col'>
          $if q["type"] == "text":
            <input type="text" name=$q["field"] id=$q["field"]/>
          $if q["type"] =="numeric":
            <input type="text" name=$q["field"] id=$q["field"] onchange='isNumeric(this)'/>
          $if q["type"]=="radio":
            $for opt in q["options"]:
              <input type="radio" name=$q["field"] id=$q["field"] value='$opt'/>&nbsp;$opt<br>
          $if q["type"]=="checkbox":
            $for opt in q["options"]:
              <input type="checkbox" name=$opt[0] id=$opt[0] value='$opt[1]'/>&nbsp;$opt[1]<br>
          </div>
        </div>
      </div>
    </div> <!-- close of the other grid 6 -->
    <div class="clearfix"></div>
    <div id="formclose" class="grid_12">
      <label>For additional comments/observations/notes, please use this space below:</label>
      <div id="commentspace">
        <textarea name="comments" id="comments" style="width:100%" rows="5"
         onKeyDown="textCounter(document.schoolform.comments,document.schoolform.remLen2,500)"
         onKeyUp="textCounter(document.schoolform.comments,document.schoolform.remLen2,500)"></textarea>
       <input readonly type="text" name="remLen2" size="3" maxlength="3" value="500"> characters left
        <!--textarea name="comments" id="comments" style="width:100%" rows="5"></textarea-->
      </div>

      <div id="submit" align="left">
        <input id="btn1" name="btn1" type="submit" value="Submit" class="btn1" style="width:150px;horizontal-align:middle" onClick="verifyEmail(document.forms['schoolform']['email'].value,'btn1')"/>
      </div>
    </form>
   </div> <!-- closing last grid_12-->
  </div> <!--grid 12-->
  </div> <!-- container 12-->
</div> <!--grid 12-->
</div> <!-- container 12-->

</body>

</html>
