<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
  <title> KLP:Share your Story </title>
  <link type="text/css" rel="stylesheet" href="/css/sys.css"/>
  <script type="text/javascript">
function show_confirm()
{
var r=confirm("Thank you for taking the time and making the effort to do this. Please expect an e-mail confirmation shortly.\n We appreciate your continued help in ensuring that every child is in school and learning well.");
if (r==true)
  {
     self.close();
  }
}
</script>

</head>
<body onload="show_confirm()">
<div>
</div>
