$var title: Volunteer for KLP
$var cssfiles: /css/style.css /js/lib/iCheck/skins/minimal/minimal.css
$var jsfiles: /js/jquery-1.9.1.min.js /js/libs.combined.js /js/lib/iCheck/jquery.icheck.min.js /js/main.js 
$var btags:

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0; user-scalable=0;"/>
	<meta name="description" content="" />
</head>

	<div class="page-programme-details">

			<section class="volunteer">
			<div class="container">
				<div class="clr"></div>
				<h4>More coming soon...</h4>
				<div class="ta_c">
					<p class="bordered_text">
						You may want to consider volunteering with <a href="http://akshara.org.in/forms/volunteer" class="text_orange" target="_blank">Akshara Foundation</a>, <a href="http://www.sikshana.org/get_involved/volunteer.html" class="text_orange" target="_blank">Sikshana</a> or <a href="http://www.akshayapatra.org/volunteer" class="text_orange" target="_blank">Akshaya Patra</a>. 
					</p>
				</div>
			</div>
		</section>
	</div>


